lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

charcoal-logs.*
logs/verbose/*
!logs/verbose/.hidden

pids
results

npm-debug.log
node_modules

public/barcode-images/*
public/charcoal-audit/*
public/google/*

.idea
.vscode
.untracked
.DS_Store
package-lock.json

